-# Start Content
%h1 
  Einladung der DOSB-Vizepräsidentin
= image_tag("a_sec_pic.png", :"class"=>"floatimg")
%p
  Der Schwerpunkt des Fachforums im Lindner Hotel in Frankfurt am Main liegt in diesem Jahr auf dem Thema „Lehren und Lernen mit digitalen Medien“. Dabei wird die Thematik sowohl inhaltlich als auch tagungsmethodisch umgesetzt: Neben den Fachreferaten gibt es diesmal im Vorfeld und im Nachgang der Veranstaltung jeweils eine kurze Online-Phase, was der Veranstaltung den Charakter einer „Blended Conference“, einem Wechsel zwischen Online- und Präsenzphasen, verleiht. Das Impulsreferat mit dem Titel „Sport mit `e´ – wie digitale Medien Kommunikation, Lehre und Training im Sport verändern“  hält Andreas Hebbel-Seeger, Professor für Medienmanagement an der MHMK Macromedia Hochschule für Medien und Kommunikation Hamburg. 
%p
  Der Schwerpunkt des Fachforums wurde passend zu dem im letzten Jahr gestarteten SALTO-Projekt gewählt, welches dort präsentiert und diskutiert werden soll.  SALTO, gefördert vom Bundesministerium für Bildung und Forschung, dem Europäischen Sozialfonds sowie der Europäischen Union, hat zum Ziel, ein Bildungsportal für den organisieren Sport in Deutschland zu erstellen, auf dem Informationen rund um das Thema Qualifizierung transparent gemacht werden.  Das Bildungsportal soll dazu beitragen, die Qualität im Qualifizierungssystem des organisierten Sports in der Aus-, Fort- und Weiterbildung der Trainer und Übungsleiter zu verbessern.
%p
  Auf dem Fachforum werden außerdem verschiedene Akteure außerhalb des Sports vorstellen, was sie im Bereich Lehren und Lernen mit digitalen Medien bereits erarbeitet haben und wie sie bei der Einführung der digitalen Medien vorgegangen sind. Die Teilnehmerinnen und Teilnehmer haben die Möglichkeit, Beispiele aus den Bereichen Polizei, Schule, Hochschule, Unternehmen, Kirche sowie Erwachsenenbildung kennenzulernen und zu diskutieren.
%p
  Nach der Vorstellung und Diskussion der einzelnen Teilprojekte von SALTO wird Jochen Robes  (Bildungsberater und e-Learning Spezialist) passend dazu einen Vortrag zu „MOOCs (massive open online courses) – wie offenes und vernetztes Lernen funktionieren kann“ halten. 