-# Start Content
%h1 
  Sportabzeichen-Tour durchs ganze Land
= image_tag("a_third_pic.png", :"class"=>"floatimg")
%p
Das teilte der Deutsche Olympische Sportbund am Mittwoch in Frankfurt/Main mit.
%p
  Seit genau einem Jahrhundert trainieren Generationen von Sportlerinnen und Sportler für den Fitnessorden, legen die Prüfungen in den unterschiedlichen Disziplinen ab und dürfen sich anschließend das Deutsche Sportabzeichen ans Revers heften, das seit 1958 ein geschütztes Ehrenzeichen ist. Um „100 Jahre Deutsches Sportabzeichen“ gebührend zu feiern, veranstaltet der DOSB seine diesjährige Sportabzeichen-Tour von Mai bis September durch alle Bundesländer, wobei der LSV Saarland die Patenschaft für das Tour-Event im Metz (Frankreich) übernimmt. Diese Veranstaltung steht ganz im Zeichen des Deutsch-Französischen Freundschaftsvertrages, dessen Unterzeichnung sich 2013 zum 50. Male jährt. Das Finale der Sportabzeichen-Tour findet im September im Garten des Schlosses Bellevue statt.
%p
  Seit Anfang des Jahres kann der DOSB auch auf die Unterstützung von Ernsting’s family zählen. Das Textilunternehmen ist der vierte Förderer des Breitensportordens. Ernsting’s family hat dabei seinen Fokus auf das Familiensportabzeichen gelegt. „In unseren Grundsätzen haben wir fest verankert, zu der sozialen, gesellschaftlichen und ökologischen Verantwortung unseres Unternehmens zu stehen. Daher freuen wir von Ernsting’s family uns sehr, gemeinsam mit den anderen Partnern etwas für die Gesundheit und Fitness von Kindern und Erwachsenen tun zu können“, macht der Sprecher der Ernsting Holding Gesellschaft (EHG), Hans-Dieter Ernst, deutlich. 