:plain
  var oldData = $('.profile_password').replaceWith('#{escape_javascript(render :partial => "/common/profile/ajax/password_form")}');
  $('form input[id^="password"]').focus( function() {
    var inputID = $(this).attr('id');
    var inputSize = $(this).attr('size');
    var inputName = $(this).attr('name');
    var inputField = '<input id="' + inputID + '" type="password" size="' + inputSize + '" name="' + inputName + '">'; 
    $(this).replaceWith(inputField);
    document.getElementById(inputID).focus();
  });
  
