:plain
  $('table##{@user.id}').replaceWith('#{escape_javascript(render :partial => "member_info", :locals => {:member => @user})}');
  $('#options_#{@user.id}').replaceWith('#{escape_javascript(options(@user))}');
