// Place all the styles related to the Testers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login_wrapper {
  margin-left: 200px;
  margin-top: 50px;
  margin-bottom: 15px;
  h1 {
    background-color: #fff;
    border: none;
    font-size: 40px;
    padding-left: 0px;
  }
}

.email {
  width: 400px;
}

.password {
  width: 400px;
}



#error_login {
  width: 490px;
  border: 1px solid red;
  background-color: #FEBFBF;
  color: #FF0000;
  margin: 10px 0 10px 0;
  p {
    font-size: 12pt;
    padding: 15px 5px 5px 5px;
  }
}