-# Start Content
%h1 
  Das Deutsche Sportabzeichen - das Wichtigste in Kürze
= image_tag("a_first_pic.jpg", :"class"=>"floatimg")
%p
  Das Deutsche Sportabzeichen ist das erfolgreichste und einzige Auszeichnungssystem außerhalb des Wettkampfsports, das umfassend die persönliche Fitness überprüft. Die zu erbringenden Leistungen orientieren sich an den motorischen Grundfähigkeiten Ausdauer, Kraft, Schnelligkeit und Koordination. Die Leistungen der einzelnen Übungen sind nach  Altersklassen und innerhalb diser noch einmal nach Leistungen für Bronze, Silber und Gold gestaffelt. In jeder Disziplingruppe muss eine Übung it der geforderten Bedingung für Bronze, Silber oder Gold erfüllt werden.
%p
  Der Nachweis der Schwimmfertigkeit ist notwendige Voraussetzung für den Erwerb. Bei Kindern und Jugendlichen muss die Schwimmfertigkeit ein Mal, bei den Erwachsenen alle fünf Jahre nachgewiesen werden. 
%p
  Das Abzeichen mit Ordenscharakter kann an Frauen und Männer ab 18 Jahren verliehen werden. Für Kinder- und Jugendliche (6-17 Jahre) wird das Deutsche Sportabzeichen für Kinder und Jugendliche verliehen. Je nach erbrachter Leistung wird das Sportabzeichen in Bronze, Silber oder Gold verliehen. 